
.headerCart {
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerCartInfo {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 3px;
}

.headerCartNum {
    position: absolute;
    top: -14px;
    right: -14px;
    background-color: var(--red-light);
    width: 24px;
    height: 24px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    font-weight: 500;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width: 576px){
    .headerCartTxt {
        display: none;
    }
}

.bump {
    animation: bump 300ms ease-out;
    -webkit-animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    10% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}