.login {
    min-height: 100vh;
    height: 100%;
    background-color: #f9f9f9;
    padding: 80px 40px 40px;
}

.loginImage {
    text-align: center;
    margin-bottom: 30px;
}

.loginTitle {
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    color: var(--black);
    margin-top: 30px;
}

.loginForm {
    background-color: var(--white);
    padding: 90px 60px 40px 60px;
    width: 40%;
    margin: auto;
    -webkit-box-shadow: 0 30px 50px 0 rgb(226 226 226 / 34%);
    box-shadow: 0 30px 50px 0 rgb(226 226 226 / 34%);
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    display: flex;
    flex-direction: column;
}

.loginBtn,
.loginFaceBtn {
    height: 53px;
    min-height: 40px;
    padding: 0px 20px;
    background-color: var(--blue-dark);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 16px;
}

.loginFaceBtn {
    font-weight: 00;
}

.loginFaceBtnLogo {
    width: 30px;
}

.loginFaceBtnTxt {
    font-size: 18px;
}

.loginForgetLink {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.79;
    color: #002575;
    display: block;
    margin-bottom: 25px;
    text-decoration: underline;
}

.loginRegisterLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
}

.loginRegisterLink > span {
    font-size: 14px;
    font-weight: 600;
}

.loginRegisterLink > a {
    font-weight: 700;
    color: #002575;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .loginForm {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .loginForm {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .loginForm {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .login {
        padding: 60px 30px 30px;
    }

    .loginForm {
        width: 90%;
    }

    .loginFaceBtn {
        height: 70px;
        min-height: 50px;
        padding: 0px 10px;
    }

    .loginRegisterLink {
        flex-direction: column;
    }
}