.aboutUsImage {
    width: 100%;
    height: 45vh;
}

.aboutUsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .aboutUsImage {
        height: 35vh;
    }
}

@media screen and (max-width: 768px) {
    .aboutUsImage {
        height: 25vh;
    }
}

@media screen and (max-width: 576px) {
    .aboutUsImage {
        height: 20vh;
    }
}